
body {
   background-color: #77C6E3;
   margin: 0px;
   height: 100vh;

    






}


h1 {
    color: #77C6E3;
    font-size: 36px;
    font-family: satisfy;
    text-decoration: none;
    margin: 20px;

}
 h2 {
     font-family: caveat;
     font-size: 36px;
     margin: 20px;
     display: flex;
     justify-content: center;
     
 }
     



 p {
     font-size: 36px;
     margin: 5px;
     text-align: left;
     font-family: caveat;
     justify-content: flex-end;
     
       
 }
 
.me {
    width: 300px;
    clip-path: circle();
    float: right;
    margin: 220px 100px 200px;
}
    





.hero {
    position: relative;
    height: 737px;
    overflow: hidden;
    background-image: url(../ux_ui_homework_17/hero.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 

}

.navigation {
    display: flex;
    margin: 20px;
    justify-content: flex-end;
    line-height: 800px;
    

     
    
}

nav a {
    color: #FFC44B;
    text-decoration: none;
    margin: 0 10px;
    font-size: 24px;
    letter-spacing: 4px;
    font-family: courgette;
    justify-content: flex-end;   
    
}


.flexbox-container {
    display: flex;
    background-color: #2D333F;
    margin-top: 100px;
    justify-content: center;

}
    
.flexbox-item {
    width: 440px;
    margin: 100px 20px;
    background-color: #120F11;
}    

.flexbox-item-1 {
    min-height: 550px;
}

.flexbox-item-2 {
    min-height: 550px;
}

.flexbox-item-3 {
    min-height: 550px;
}