
body {
   background-color: #B9D8E4;
   margin: 0px;
   height: 100vh;

    






}


h1 {
    color: #77C6E3;
    font-size: 36px;
    font-family: satisfy;
    text-decoration: none;
    margin: 20px;
    

}
 .hello , p {
     
     font-family: caveat;
     font-size: 48px;
     margin: 20px;
     display: flex;
     justify-content: center;
     

     
 }
     



 .firstline {
     font-size: 48px;
     margin: 5px;
     font-family: caveat;
     justify-content: flex-end;
     line-height: 1.5;
     
       
 }
 
 


.hero {
    position: relative;
    height: 737px;
    overflow: hidden;
    background-image: url(../ux_ui_homework_17/hero.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 

}

.navigation {
    margin: 20px;
    line-height: 700px;
    float: right;
    
    

     
    
}

nav a {
    color: #FFC44B;
    text-decoration: none;
    margin: 0 10px;
    font-size: 24px;
    letter-spacing: 4px;
    font-family: courgette;
    
    
    
}


.flexbox-container {
    height: 750px;
    display: flex;
    background-color: #2D333F;
    margin-top: 100px;
    justify-content: space-around;

}
    
.flexbox-item {
    width: 440px;
    margin: 100px 20px;
    background-image: linear-gradient(#D95525, #120F11);
    border-radius: 10px;
    
}    

.flexbox-item-1 {
    min-height: 550px;
    color: #FFC44B;
    line-height: 1.5;

    

}

h3 {
    font-family: courgette;
    font-size: 24px;
    line-height: 50px;
    font-size: 24px;
    text-align: center;
}

p {
    text-align: center;
    font-size: 24px;
    
    
}

.frogs {
    width: 440px;
    height: 310px;
    border-radius: 10px 10px 0px 0px;


}
.flexbox-item-2 {
    min-height: 550px;
    color: #FFC44B;
    line-height: 1.5;
}

.click {
    width: 440px;
    height: 310px;
    border-radius: 10px 10px 0px 0px;
}

.flexbox-item-3 {
    min-height: 550px;
    color: #FFC44B;
    line-height: 1.5;
}

.education {
    width: 440px;
    height: 310px;
    border-radius: 10px 10px 0px 0px;
}

.footer {
    font-size: 18px;
    font-family: courgette;
    margin: 20px;
    text-align: right;
    margin-top: 200px;
    

}